<section id="item-list">
    <% for (let i = 0; i < allData.length; i++) { %>
        <% data = allData[allData.length - i - 1]; %>
        <div class="item">
            <div class="item-name">
                <p class="item-text">
                    <a class="plain-link" href="<%= data.url %>" target="_blank"><%= data.name %></a>
                </p>
            </div>
            <div id="price-chart" class="price-chart">
                <canvas id="chart<%= allData.length - i - 1 %>" width="50" height="20"></canvas>
            </div>
            <div id="current-price" class="current-price">
                <p class="item-text">Current Price: <span> <%= data.price %></span></p>
            </div>
            <div id="more-info" class="more-info">
                <p class="item-text">Min Price: <span> <%= data.minPrice %></span></p>
                <p class="item-text">Max Price: <span> <%= data.maxPrice %></span></p>
            </div>
            <div id="remove-item" class="remove-item">
                <form class="remove-item-form" action="/remove-item" method="POST">
                    <button class="remove-item-button" type="submit" name="num" value="<%= i %>">x remove</button>
                </form>
            </div>
        </div>
    <% } %>
</section>
